
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
  }

  #startBtn {
    cursor: pointer;
    border: none;
    border-radius: 5px ;
    padding: 10px 15px;
    margin-bottom: 1rem;
    background-color: rgb(156, 228, 89);
  }

  #startBtn:active {
    background-color: rgb(56, 131, 54);
  }
  

  #gameContainer {
    width: 90vw;
    max-width: 400px;
    height: 500px;
    background-color: lightgray;
    border: 2px solid #333;
    position: relative;
    overflow: hidden;
  }

  #score {
    position: absolute;
    top: 10px;
    left: 5px;
    padding: 10px 15px;
    background-color: green;
    color: white;
  }
  

  #ball {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    
    top: 50px;
  }
  
  
  #paddle {
    width: 100px;
    height: 10px;
    background-color: blue;
    position: absolute;
    bottom: 10px;
    left: 150px;
  }
  
  
  .controls {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 90vw;
    max-width: 400px;
  }
  
  .btn {
    flex: 1;
    padding: 15px 0;
    font-size: 18px;
    border: none;
    background-color: white;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
  }
  
  .btn:active {
    background-color: gray;
  }
  